<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> La page qui sert au prestataire pour renseigner leurs infos</title>
    </head>
    <body>
        <p> il y aura des champs pour ajouter des offres </p>
    </body>
</html>
